.User {
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
}

.Image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 25px;
}

.Title {
  font-size: 15px;
}

.Portfolio {
  display: inline-block;
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  font-size: 12px;
  transition: color .3s ease;
}

.Portfolio:hover {
  color: #000;
}