.Header {
  margin-bottom: 80px;
}

.Logo {
  display: flex;
  align-items: center;
}

.Logo img {
  width: 70px;
}

.Logo span {
  font-family: 'Satisfy', sans-serif;
  font-size: 36px;
  color: #000;
}