.header {
  padding: 20px 0 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
}

.logo span {
  font-family: 'Satisfy', sans-serif;
  font-size: 36px;
  color: #000;
}