.user {
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  margin: 0 auto 35px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 37px;
}

.title {
  font-size: 15px;
}

.portfolio {
  display: inline-block;
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  font-size: 12px;
  transition: color .3s ease;
}

.portfolio:hover {
  color: #000;
}